*{
    font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/***Navbar***/

#Navbar{
   background: transparent;
   padding: .5rem 5rem;
   position: sticky !important;
}
@media screen and (max-width: 767px) {
  #Navbar{
    padding: .0.5rem 0.5rem;
  }
  #navbarSupportedContent{
   margin-left: 60px;
  }
  #navbarSupportedContent a{
    margin-right: 30px;
    padding-left: 10px;
    width: 80px;
  }
  #navbarSupportedContent button{
   margin-left: 20px;
  }
 }
 @media screen and (min-width: 767px) and (max-width: 1023px) {
  #navbarSupportedContent{
    margin-left:250px;
   }
   #navbarSupportedContent a{
     margin-right: 30px;
     padding-left: 10px;
     width: 80px;
   }
   #navbarSupportedContent button{
    margin-left: 20px;
   }
 }
 #logo{
   height: 90px;
 }
#navbarSupportedContent a{
  color: #26110d;
  font-size: 20px;
  justify-content: space-around;
}
#navbarSupportedContent a:hover{
   background-color: #daab6e;
   color: #26110d;
}
#btn-icon{
  border-radius: none;
}
#navbarSupportedContent button{
  background-color: #26110d;
  color: white;
  font-size: 15px;
  border-radius: 15px;
  width: 90px;
}
#navbarSupportedContent button:hover{
 background-color: #daab6e;
 color: #26110d;
}
#navbarSupportedContent li{
  margin: 0px 20px 0px;
}
/***hero section***/
#home{
  width: 100%;
  height: 150vh;
  background: #ecdfcb;
}

.hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-left: 250px;
  margin-right: 250px;
  position: relative;
  bottom: 20px;
  top: 10px;
}
.sc{
  color: #26110d;
  margin-bottom: 20px;
  
}
.lc{
  color: #26110d;
  margin-left: 20px;
  text-align: center;
  font-size: 50px;
}
.mc{
  color: #26110d;
  margin-top: 20px;
}
@media screen and (min-width: 767px) and (max-width:1023px) {
  .hero-content{
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 50px;
    width: 500px;
    height: 30px;
  }
  .lc{
    font-size: 30px;
    width: 500px;
  }
  .mc{
    width: 500px;
    text-align: center;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .hero-content{
   margin-left: 190px;
   justify-content: center;
   margin-top: 10px;
  }
  .sc{
    width: 150px;
    font-size: 12px;
    text-align: center;
  }
  .lc{
    font-size: 20px;
    width: 250px;
    margin-bottom: 50px;
  }
  .mc{
      font-size: 12px;
      width: 250px;
      text-align: center;
      position: relative;
      bottom: 50px;
  }
}
@media screen and (max-width: 320px) {
  .hero-content{
    margin-left: 150px;
  }
}
/*** Hero Image ***/
.img{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.hero-img{
  width: 70%;
  height: 70vh;
  justify-content: center;
  border-radius: 20px;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .img{
    position: relative;
    top:170px;
  }
  #home{
    height: 180vh;
  }
}
@media screen and (max-width: 767px){
  .img{
     position: relative;
     bottom: 50px;
  }
  .hero-img{
    width: 80%;
    height: 40vh;
  }
}
/*** End of Hero Section ***/

/*** Start of Slider section ***/
.slide-container{
  background: linear-gradient(to bottom,#26110d,#4c231a);
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0px;
}
.s-title{
  color: #ecdfcb;
  position: relative;
  top: 30px;
  font-size: 40px;
  text-align: center;
}
.blog{
  background-color: #ecdfcb;
  color: #26110d;
  padding: 1px 13px 3px;
  border-radius: 5px;
}
.carousel-item img{
  width: 100%;
  height: 50vh;
  object-fit: cover;
  width: calc(2560px/ 3);
  display: flex;
}
.cards-wrapper{
  display: flex;
}
.cards-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards-wrapper img{
  max-width: 100%;
  max-height: 100%;
}
.carousel-inner{
  position: relative;
  top: 50px;
  align-items: center;
  justify-content: center;
}
.s-img{
  width: 90%;
  height: 60vh;
  border-radius: 30px;
}
.s-con{
  position: relative;
  bottom: 120px;
  color: #ecdfcb;
  width: 90%;
  left: 15px;
  font-size: 15px;
}
.s-content{
  margin: 0px 10px 0px;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  #home{
    height: 180vh;
  }
    .slide-container{
       height: 100vh;
  }
  .s-con{
    bottom: 150px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  #home{
    height: 150vh;
  }
  .slide-container{
    height: 110vh;
  }
  .carousel-inner{
    top: 50px;
  }
  .s-con{
    bottom: 100px;
    text-align: center;
  }
 .s-content:not(:last-child){
  display: none;
 }
 .s-content img{
  height: 70vh;
 }
}
@media screen and (max-width: 767px) {
  #home{
    height: 115vh;
  }
   .s-content:not(:first-child){
    display: none;
   }
   #home{
   min-height:100vh ;
   }
   .s-con{
    bottom: 110px;
    text-align: center;
   }
}

/*** End of slider Section***/

/*** Start of About Section ****/
#about{
  background-color: #ecdfcb;
  width: 100%;
  height: 100vh;
}
#about-text{
  font-weight: 800;
  font-size: 40px;
  color: #26110d;
}
#about img{
  width: 100%;
  height: 100vh;
}
.a-p{
  font-size: 19px;
  color: #26110d;
  letter-spacing: 1px;
}
.a-btn{
  text-decoration: none;
  color: #26110d;
  border: #26110d 2px solid;
  width: 200px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 200px;
}
.a-btn:hover{
  color: #ecdfcb;
  background-color: #26110d;
}
@media screen and (max-width: 1024px) {
  #a-content{
    position: relative;
    bottom: 20px;
  }
  #about-text{
    font-size: 30px;
  }
  .a-p{
    font-size: 15px;
    letter-spacing: 0.5px;
  }
  .a-btn{
    margin-left: 50px;
    left: 50px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  #a-content{
    top: 1px;
  }
  .a-p{
    font-size: 15px;
    letter-spacing: 0px;
  }
  .a-btn{
    margin-left: 30px;
    left: 50px;
  }
}
@media screen and (max-width: 767px){
  #a-content{
    background-color: #ecdfcb;
    top: 0.2px;
    height: 105vh;
  }
  .a-btn{
   margin-left: 45px;
   left: 50px;
  }
  #about-text{
    margin-top: 5px;
  }
  .a-p{
    letter-spacing: 0px;
  }
}
@media screen and (max-width: 375px) {
  .a-btn{
    margin-left: 30px;
    left: 40px;
  }
}
@media screen and (max-width: 320px) {
  #a-content{
    height: 120vh;
  }
  .a-btn{
   margin-left: 10px;
   left: 40px;
  }
  .a-p{
    letter-spacing: 0px;
  }
}

 
/*** End of About Section ****/

/*** Start of our blog Section ***/

#our-blog{
  background: linear-gradient( #26110d,#4c231a);
  width: 100%;
}
.container{
  margin-top: 30px;
}
.container span{
      color: #26110d;
      background-color: #ecdfcb;
      padding: 2px 10px 2px;
      border-radius: 5px;
}
.container h1{
  color: #ecdfcb;
}
.card-img{
  width: 300px;
  height: 150px;
  border-radius: 10px;
  margin-top: 18px;
}
.card{
  width: 330px;
  height: 300px;
  border: none !important;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #ecdfcb;
  overflow: hidden;
  margin: 20px 70px;
  margin-top: 40px;
}
.card-text{
  font-size: 22px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #26110d;
  cursor: pointer;
}
.card-text:hover{
  color: #daab6e;
}
.card-body h6{
 font-size: 14px;
 margin-top: 5px;
}
.card-body span{
  background-color: #26110d;
  color: #ecdfcb;
}
.c-a{
  text-decoration: none;
  color: #26110d;
  position: relative;
   left: 5px;
  font-size: 15px;
}
.c-a:hover{
  color: #daab6e;
}
@media screen and (max-width: 1024px) {
  .card{
   margin: 10px -20px;
   width: 300px;
   height: 300px;
  }
  .card-img{
    width: 260px;
    height: 150px;
  }
  .blog-container{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px){
  .container{
    margin: 48px;
  }
   .card{
    margin: 10px -20px;
    width: 330px;
    height: 300px;
   }
   #last-child{
    margin-left: 130px;
   } 
}
@media screen and (max-width: 767px) {
  #our-blog{
    position: relative;
    top: 480px;
  }
 
  .card{
    margin: 10px 50px;
  }
}
@media screen and (max-width: 375px) {
  .card{
    margin: 10px 25px;
  }
  #our-blog{
    top: 550px;
  }
}
@media screen and (max-width: 320px) {
  .card{
    margin: 10px 0px;
  }
  #our-blog{
    top: 620px;
  }
}

/*** End of blog section ***/

/*** Start of contact us section ***/
#contact{
  width: 100%;
  height: 100vh;
}
.img1{
  background-image: url(vAsserts/image11.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  object-fit: cover;
  position: relative;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-content{
  background-color: #ecdfcb;
  width: 600px;
  height: 450px;
  padding: 20px;
}
.c-content form{
  display: flex;
  flex-direction: column;
}
.c-content h1{
  color: #26110d;
  font-weight: 800;
}
.c-form{
  padding: 10px;
  margin: 10px;
  border: #26110d solid 2px;
  border-radius: 5px;
  cursor: pointer;
}
.c-btn{
    width: 30%;
    border: none;
    background-color: #26110d;
    color: #ecdfcb;
    border-radius: 5px;
    position: relative;
    left: 35%;
    top: 20px;
}
@media screen and (max-width: 767px) {
   #contact{
    position: relative;
    top: 480px;
   }
   .c-content{
    height: 430px;
   }
}
@media screen and (max-width: 375px) {
  #contact{
    top: 550px;
  }
}
@media screen and (max-width: 320px) {
  #contact{
    top: 620px;
  }
}

/*** End of contact us section ***/

/*** Start of footer section ***/
.footer{
  background-color: #ecdfcb;
  width: 100%;
  padding: 40px 0px;
}
.f-icon{
  text-align: center;
  padding-bottom: 25px;
}
.f-icon a{
  color: #26110d;
  font-size: 24px;
  border: 1px solid #26110d;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  padding-top: 2px;
  margin: 0 8px;
  opacity: 0.75;
}
.f-icon a:hover{
  opacity: 0.99;
}
.f-list{
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.f-list a{
   color: #26110d;
   text-decoration: none;
   opacity: 0.8;
}
.f-list li{
  display: inline-block;
  padding: 0 15px;
}
.f-list a:hover{
  opacity: 1;
}
.f-copy{
  margin-top: 25px;
  text-align: center;
  font-size: 13px;
  color: #26110d;
  opacity: 0.5;
}
.f-copy span{
  color: #26110d;
}
@media screen and (max-width: 767px) {
  .footer{
    position: relative;
    top: 480px;
  }
}
@media screen and (max-width: 375px) {
  .footer{
    top: 550px;
  }
}
@media screen and (max-width: 320px) {
  .footer{
    top: 620px;
  }
}
/*** End of footer section ***/